
*{
    font-family:inter;
    box-sizing: border-box;
}

/*CONTENT--------*/
/*whole body container*/
.container{
    margin-left: 75px;
    margin-right: 75px;
}
/*brand name*/
.brand{
    color: #176f10;
    font-family: inknut antiqua;
    font-size: 3vw;
    line-height: 1em;
    font-weight: bolder;
}
/*main picture*/
img{
    max-width: 100%; /*makes it scale with screen size*/
    max-height: auto;
}
/*Main motto*/
.tagline{
    font-weight:bolder ;
    line-height: 1em;
    font-size: 4vw;
}
/*Main Div Content*/
.Main{
   display:grid;
   grid-template-columns:1.2fr 1fr;
   margin-top:5em;
}
/*short description below main motto*/
.subtitle{
    max-width: 70%;
    line-height: 2em;
}
/*view button*/
.view{
    border:none; /*avoid border line*/
    background-color: #176f10;
    padding: 1.2em 4em;
    border-radius: 5px;
    border-color: none;
    margin-top: 3em;
    border-style: solid 0;
}
.view:hover{
    background-color: white;
    border-color:black;
    color:black;
}


/*NAVIGATION BAR------------*/

.Navbar{
    margin-top: 2em;
}
.search{
    font-size: 1.5em;
    float:right;
    position: absolute;
    right:2em;
    top:2em;
}

nav ul{
    float: right;
    margin-right: 2vw;
}

nav ul li {
   display: inline-block;
   margin: 0 1em;
}

nav ul li a{
    padding: 1vw;
    border-radius: 3px;
    text-decoration: none;
    color: black
}

/*hover effects*/
.active:hover{
    color: white;
    background-color:#176f10
}

/*when burger button is clicked, the checkbox is checked*/
.checkbtn{
    font-size: 30px;
    float: right;
    cursor: pointer; /*mahimong hands ang arrow pointer*/
    display: none;
}

/*check button*/
#check{
    display:none;
}


/*NO NEED NA BECAUSE SIZES ARE RELATIVE*/
/*tablets or small screen desktop, just need to abate font sizes and such..
@media (max-width: 952px){
    label.logo{
        font-size: 32px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .tagline{
        font-size: 48px;
        line-height: 1.5em;
    }
}*/

/*phones- or screen sizes need to compress into hand mode*/
@media (max-width: 858px){
    .container{
        margin: 0px;
    }
    /*brand name*/
    .brand{
        margin-left:2em;
        font-size: 8vw;
    }

    /*contents*/
    .Main{
        margin-left: 2em;
        margin-right: 1em;
        grid-template-columns:none;
        grid-template-rows: 1fr 1fr;
     }
     

    .checkbtn{
        display:block;
        float:left;
        margin-left:1em;
    }
    .search{
       
        top:1.5em;
    }
   
    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s
    }

    nav ul li {
        margin-top: 2em;
        display: block;
        line-height: 2em;
    }

    nav ul li a{
        font-size: 26px;
    }
  
    #check:checked ~ ul{
        left:0;
    }
}
/*PHONE*/
@media (max-width: 550px){
    .Main{
        margin-left: 2em;
        margin-right: 1em;
        grid-template-columns:none;
        grid-template-rows: 1.3fr 1fr;
     }
     .menus li i{
         display:block;
         float:left;
     }
     .brand{
         margin-left:1.2em;
     }
}

/*FOOTER THINGS*/
footer{
    padding-top: 2em;
    margin: 0;
    height:auto;
    width: 100vw;
    background-color: #176f10;
    line-height: 2rem;
    left:0;
    bottom:0;
    right: 0;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align:center;
}
.footer-content h1{
    line-height: 2em;
    font-weight: 8000;
    text-transform: capitalize;
    font-size: 1.8em;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 2em;
    font-weight: bolder;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 2rem;
    font-size: 2vw;
}
.socials li a:hover{
    color:white;
}
.socials li a {
    text-decoration: none;
    color:black;
}
.footer-bottom{
    background-color: #104d0c;
    width: 100vw
    padding: 2em 0;
    text-align: center;
    margin: 0;
    bottom:0;
}
.footer-bottom p{
    word-spacing: 1em;
    text-transform: capitalize;
    color:white;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}



